# Description: Special ignore for vim/root folder
# Author: Malusi Gcakasi
# Last Modified: Jun 22, 2013 12:23 PM

# Ignore All files and directories
*
# Except the gitignore files
!.gitignore
# and all files associated with vim
!_gvimrc
!_vimrc
!.vim/**/*.vim
!.vim/**/*.tpl
!.vim/**/*.txt
