# Description: Special ignore for vim/root folder
# Author: Malusi Gcakasi
# Last Modified:

# Include all files associated with vim
!_gvimrc
!_vimrc
!.vim/**/*.vim
!.vim/**/*.tpl
!.vim/**/*.txt

# Completely ignore everything else...
# All files
*.*
# Except the gitignore files
!.gitignore
# All directories
*/
# All [g]vim backup files
*~
# The viminfo file
_viminfo
# the netrc file
_netrc

